.body_backgorund 
{
    background-image:url('hOye.gif');
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
}
#myCanvas
{
border-width: 15px;
border-color: palevioletred;
background-color: rgb(255, 240, 253);
border-style: ridge;
}

